### Script to create the datastet used by the app

In [1]:
import pandas as pd
import numpy as np
# %pip install kagglehub
import kagglehub

/opt/anaconda3/envs/jbi010/lib/python3.9/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [ ]:
# Download latest emoji dataset version
# path = kagglehub.dataset_download("subinium/emojiimage-dataset")
# print("Path to dataset files:", path)

In [ ]:
countries = pd.read_csv("countriesWorld.csv")

In [28]:
countries

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,"48,0","0,00","23,06","163,07",700.0,"36,0","3,2","12,13","0,22","87,65",1,"46,6","20,34","0,38","0,24","0,38"
1,Albania,EASTERN EUROPE,3581655,28748,"124,6","1,26","-4,93","21,52",4500.0,"86,5","71,2","21,09","4,42","74,49",3,"15,11","5,22","0,232","0,188","0,579"
2,Algeria,NORTHERN AFRICA,32930091,2381740,"13,8","0,04","-0,39",31,6000.0,"70,0","78,1","3,22","0,25","96,53",1,"17,14","4,61","0,101","0,6","0,298"
3,American Samoa,OCEANIA,57794,199,"290,4","58,29","-20,71","9,27",8000.0,"97,0","259,5",10,15,75,2,"22,46","3,27",NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,"152,1","0,00","6,6","4,05",19000.0,"100,0","497,2","2,22",0,"97,78",3,"8,71","6,25",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222,West Bank,NEAR EAST,2460492,5860,"419,9","0,00","2,98","19,62",800.0,NaN,"145,2","16,9","18,97","64,13",3,"31,67","3,92","0,09","0,28","0,63"
223,Western Sahara,NORTHERN AFRICA,273008,266000,"1,0","0,42",NaN,NaN,NaN,NaN,NaN,"0,02",0,"99,98",1,NaN,NaN,NaN,NaN,"0,4"
224,Yemen,NEAR EAST,21456188,527970,"40,6","0,36",0,"61,5",800.0,"50,2","37,2","2,78","0,24","96,98",1,"42,89","8,3","0,135","0,472","0,393"
225,Zambia,SUB-SAHARAN AFRICA,11502010,752614,"15,3","0,00",0,"88,29",800.0,"80,6","8,2","7,08","0,03","92,9",2,41,"19,93","0,22","0,29","0,489"
226,Zimbabwe,SUB-SAHARAN AFRICA,12236805,390580,"31,3","0,00",0,"67,69",1900.0,"90,7","26,8","8,32","0,34","91,34",2,"28,01","21,84","0,179","0,243","0,579"

In [25]:
emojis = pd.read_csv("2/full_emoji.csv", usecols=["emoji", "unicode", "name", "Apple"])
flags = emojis[emojis["name"].str.contains("flag:") == True]
flags["countryName"] = flags["name"].str.split(": ").str[1]
flags.rename(
    columns={"name": "emojiName"}, 
    inplace=True
)

/var/folders/6r/fy40h3sj5sz87ctgpzyw1lgm0000gn/T/ipykernel_66018/1294549689.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  flags["countryName"] = flags["name"].str.split(": ").str[1]
/opt/anaconda3/envs/jbi010/lib/python3.9/site-packages/pandas/core/frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [26]:
flags

,emoji,unicode,emojiName,Apple,countryName
1555,üá¶üá®,U+1F1E6 U+1F1E8,flag: Ascension Island,"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA...",Ascension Island
1556,üá¶üá©,U+1F1E6 U+1F1E9,flag: Andorra,"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA...",Andorra
1557,üá¶üá™,U+1F1E6 U+1F1EA,flag: United Arab Emirates,"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA...",United Arab Emirates
1558,üá¶üá´,U+1F1E6 U+1F1EB,flag: Afghanistan,"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA...",Afghanistan
1559,üá¶üá¨,U+1F1E6 U+1F1EC,flag: Antigua & Barbuda,"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA...",Antigua & Barbuda
...,...,...,...,...,...
1811,üáøüá≤,U+1F1FF U+1F1F2,flag: Zambia,"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA...",Zambia
1812,üáøüáº,U+1F1FF U+1F1FC,flag: Zimbabwe,"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA...",Zimbabwe
1813,üè¥Û†ÅßÛ†Å¢Û†Å•Û†ÅÆÛ†ÅßÛ†Åø,U+1F3F4 U+E0067 U+E0062 U+E0065 U+E006E U+E006...,flag: England,"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA...",England
1814,üè¥Û†ÅßÛ†Å¢Û†Å≥Û†Å£Û†Å¥Û†Åø,U+1F3F4 U+E0067 U+E0062 U+E0073 U+E0063 U+E007...,flag: Scotland,"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA...",Scotland
1815,üè¥Û†ÅßÛ†Å¢Û†Å∑Û†Å¨Û†Å≥Û†Åø,U+1F3F4 U+E0067 U+E0062 U+E0077 U+E006C U+E007...,flag: Wales,"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA...",Wales